{% extends "webapp/base.html" %}
{% load static %}

{% block content %}
    <div>
        <br>
        <h3 class="text-center">View {{ RecordName }}'s Record:</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-5">
        <div class="card profile-card">
            <img class="avatar m-5"
                 src="{% static 'imgs/user-avatar.png' %}"
                 alt="avatar">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>First Name: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.first_name }}
                </li>
                <li class="list-group-item">
                    <strong>Last Name: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.last_name }}
                </li>
                <li class="list-group-item">
                    <strong>Email: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.email }}
                </li>
                <li class="list-group-item">
                    <strong>Phone: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.phone }}
                </li>
                <li class="list-group-item">
                    <strong>Address: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.address }}
                </li>
                <li class="list-group-item">
                    <strong>City: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.city }}
                </li>
                <li class="list-group-item">
                    <strong>Province: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.province }}
                </li>
                <li class="list-group-item">
                    <strong>Country: &nbsp;&nbsp;</strong>
                    {{ RecordDetails.country }}
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
