* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}
body {
  background-color: #98ff98;
  height: 100vh;
  display: flex;
  position: relative;
  transition: background 0.1s ease;  
}
.user, 
.email,
.password,
.bye {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 50px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease;
}
div.inactive {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, 50%);
}
div.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
}
div > input {
  background: none;
  border: none;
  flex: 1;
  height: 100%;
  outline: none
}
div > i {
  padding: 20px;
  cursor: pointer
}
.fa-heart {
  cursor: default;
}
.fa-heart:hover {
  color: indianred;
  transition: all ease 0.5s; 
}
.fa-arrow-circle-down:hover{
  color: #98ff98;
  transition: all ease 0.5s; 
}
@keyframes shake {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);  
  } 
  50% {
    transform: translate(-50%, -50%) rotate(5deg);  
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);  
  }
}