* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-layout {
  max-width: 500px;
}

.avatar {
  max-width: 200px;
  max-height: 200px;
}

.small-avatar {
  max-width: 25px;
  max-height: 25px;
}

.list-item {
  font-size: 24px;
}
