@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @layer utilities {
    .container-center {
      @apply flex justify-center items-center;
    }
    .container-center-v {
      @apply flex flex-col justify-center items-center;
    }
    .container-start {
      @apply flex justify-start items-center;
    }
    .container-start-v {
      @apply flex flex-col justify-center items-start;
    }
  }
  --primary-color: #fcde3b;
  --secondary-color: #53f0b8;
  --background-color: #070915;
  --dark-color: #070915;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
