{% extends "webapp/base.html" %}
<!-- content - ignore formatting -->

{% block content %}
  <div class="text-center">
    <br />
    <br />
    <br />
    <h1>Project Y - CRM As it should be!</h1>
    <hr />
    <h5>Keep track of your records effectively!</h5>
    <br />
    <br />
    {% if not user.is_authenticated %}
      <div>
        <a class="btn btn-secondary" type="button" href="{% url 'login' %}">Login &nbsp; <i class="fa-solid fa-right-to-bracket"></i></a>
        <a class="btn btn-primary" type="button" href="{% url 'register' %}">Create your account &nbsp; <i class="fa-solid fa-user-plus"></i></a>
      </div>
    {% else %}
      <a class="btn btn-primary" type="button" href="{% url 'dashboard' %}">Go to Dashboard</a>
    {% endif %}
  </div>
{% endblock content %}
