{% extends "webapp/base.html" %}
<!-- crispy tags -->
{% load crispy_forms_tags %}
<!-- ignore formatting -->

{% block content %}
  <br />
  <div class="text-center">
    <h1>Login to your account</h1>
    <h5>Discover more about our new features!</h5>
  </div>
  <br />
  <br />
  <div class="container shadow border p-4 rounded border form-layout">
    <form method="POST">
      {% csrf_token %}
      <!-- login form -->
      {{ LoginUserForm.username|as_crispy_field }}
      <br>
      {{ LoginUserForm.password|as_crispy_field }}
      <br />
      <button class="w-100 btn btn-primary" type="submit">
        Login &nbsp; <i class="fa-solid fa-key"></i>
      </button>
    </form>
    <hr />
    <div>
      Don't have an account! <a href="{% url 'register' %}">Create One</a>
    </div>
  </div>
  <!-- ignore -->
{% endblock content %}
