{% extends "webapp/base.html" %}
{% load crispy_forms_tags %}
<!-- ignore formatting -->

{% block title %}
  Create new account
{% endblock title %}

{% block content %}
  <br />
  <div class="text-center">
    <h1>Create your account</h1>
    <h5>Start managing your clients now!</h5>
  </div>
  <br />
  <br />
  <div class="container shadow border p-4 rounded border form-layout">
    <form method="POST">
      {% csrf_token %}
      <!-- register form -->
      {{ RegisterUserForm|crispy }}
      <br />
      <div class="d-flex gap-2">
        <button class="w-100 btn btn-primary" type="submit">
          Create Account &nbsp; <i class="fa-solid fa-user-check"></i>
        </button>
        <a href="{% url 'home' %}" class="btn btn-secondary px-4" type="button">
          <i class="fa-solid fa-house"></i>
        </a>
      </div>
    </form>
    <hr />
    <div>
      Already have an account! <a href="{% url 'login' %}">Login</a> instead!
    </div>
  </div>
  <!-- ignore -->
{% endblock content %}
