.heading {
  color: #66785f;
  text-align: center;
}

.listItem {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #ff748b;
}

.listItem > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
