.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block: 40px;
}

.inputContainer > input {
  all: unset;
  font-size: 30px;
  height: 40px;
  border: 2px solid #8eb486;
  border-radius: 10px;
  padding: 10px 20px;
  color: #997c70;
}
