.button {
  all: unset;
  background-color: #685752;
  height: 40px;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
  color: #fdf7f4;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #997c70;
}

.button:active {
  background-color: #8eb486;
}

.button:disabled {
  background-color: lightgray;
  cursor: default;
}

.delete {
  padding: 0 15px;
  font-size: 18px;
  background-color: #f72c5b;
}

.delete:hover {
  background-color: #ff748b;
}
